# git repository related
.git
.gitignore
.gitattributes

# IDE related
.ideas
.pylintrc
Makefile

# Docker related
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.local.yml

# Python project related
.env*

# Other
LICENSE
*.md
venv/

# debugging tools and utils
debug/


# Data for S3 Minio server
s3-data/
